@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

body {
  font-family: "Ubuntu", Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  padding: 0;
}
